@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

body {
  background-image: url('https://img.freepik.com/free-photo/creamy-bird-paradise-leaf-background-design-resource_53876-102382.jpg?t=st=1718369747~exp=1718373347~hmac=2fa1f261523ef99b73a534efb438ad2ada59c8c8d4cc61d81f945267d967bead&w=1380');
  background-size: cover; /* Это заставляет изображение покрывать весь фон */
  background-repeat: no-repeat; /* Это предотвращает повтор изображения */
  background-position: center center; /* Это центрирует изображение */
}

.rotating-text {
  display: inline-block;
  animation: rotate 5s infinite linear;
  font-size: 65px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 2px #000, 0 0 25px #3498db, 0 0 5px #3498db;
  transform-style: preserve-3d;
}
